// scroll
.tabbable .nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}
.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
}

// scroll style
.tabbable:hover {
  ::-webkit-scrollbar-thumb {
    background: rgb(168, 166, 166);
  }
}

::-webkit-scrollbar {
  height: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #dbdddf;
}

// tab style
.nav-link {
  font-family: 'Cairo';
  color: #4b4b4b;
}