<div class="container">
  <nav class="tabbable">
    <div class="nav nav-tabs justify-content-center">
      <a class="nav-item nav-link" routerLink='/admin/statistical/receipt-stat'>الفواتير</a>
      <a class="nav-item nav-link" routerLink='/admin/statistical/profit-stat'>الارباح</a>
      <a class="nav-item nav-link" routerLink='/admin/statistical/expense-stat'>المصاريف</a>
      <a class="nav-item nav-link" routerLink='/admin/statistical/sell-stat'>المبيعات</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>