<div class="d-flex justify-content-between mt-3 total-price">
  <h3>{{sum | number}} IQ</h3>
  <h3>المجموع</h3>
</div>
<hr>
<table class="table table-striped table-bordered text-center mt-5">
  <thead>
    <tr class="bg-light">
      <th scope="col">التاريخ</th>
      <th scope="col">السعر</th>
      <th scope="col">الكمية</th>
      <th scope="col">المنتج</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profit of profits; let i=index">
      <td>{{profit.createdAt | date : 'd/M/yy HH:mm'}}</td>
      <td>{{profit.price | number}}</td>
      <td>{{profit.qty}}</td>
      <td>{{profit.details}}</td>
      <td>{{i + 1}}</td>
    </tr>
  </tbody>
</table>