.material-icons-outlined {
  font-size: 2rem;
  color: red;
}

#cart-space {
  position: relative;
  cursor: pointer;
}
#cart-icon {
  margin-top: 15%;
}

#badgeicon {
  position: absolute;
  right: 4%;
}

.navbar-brand span {
  color: red;
  font-weight: bold;
}