<div class="container">
  <h1 class="text-right w-100 mb-2 bg-light p-2">اضافة ربح صافي</h1>
  <form class="shadow-sm p-4 mt-2" [formGroup]="profitForm">
    <div class="form-row justify-content-end">
      <div class="col-md-6 mb-3">
        <label class="float-right">التفاصيل</label>
        <input type="text" class="form-control" formControlName="details"
          [ngClass]="{'is-invalid': profitForm.get('details').invalid && profitForm.get('details').touched}">
        <div class="invalid-feedback text-right"> مطلوب التفاصيل</div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div class="col-md-6 mb-3">
        <label class="float-right">العدد</label>
        <input type="tel" class="form-control" formControlName="qty"
          [ngClass]="{'is-invalid': profitForm.get('qty').invalid && profitForm.get('qty').touched}">
        <div class="invalid-feedback text-right"> مطلوب العدد</div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div class="col-md-6 mb-3">
        <label class="float-right">الربح</label>
        <input type="tel" class="form-control" formControlName="price"
          [ngClass]="{'is-invalid': profitForm.get('price').invalid && profitForm.get('price').touched}">
        <div class="invalid-feedback text-right">مطلوب الربح</div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div class="col-md-6">
        <div class="d-flex">
          <div *ngIf="loading" class="loader mr-2"></div>
          <button class="btn btn-outline-secondary mb-0" (click)="onSubmit()"
            [disabled]="profitForm.invalid || loading">اضافة</button>
        </div>
      </div>
    </div>
  </form>
</div>