<div class="container">
  <h1 class="text-right w-100 mb-2 bg-light p-2">بيع المنتج</h1>
  <form dir="rtl" class="shadow-sm p-4 mt-2">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label class="float-right">تفاصيل</label>
        <input type="tel" class="form-control" formControlName="client_price">
        <div class="invalid-feedback text-right"> مطلوب سعر البيع</div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label class="float-right">العدد</label>
        <input type="text" class="form-control" formControlName="type">
        <div class="invalid-feedback text-right"> مطلوب العدد</div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label class="float-right">ربح القطعة الواحدة</label>
        <input type="tel" class="form-control" formControlName="client_price">
        <div class="invalid-feedback text-right"> مطلوب سعر البيع</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-3">
        <button class="btn btn-outline-secondary mt-3 mb-0">اضافة</button>
      </div>
    </div>
  </form>
</div>