label {
  font-family: "Cairo";
}

.dropdown-menu {
  min-width: 0px;
  max-width: 135%;
  font-family: 'Cairo';
  max-height: 400%;
  font-size: 85%;
}
.btn-default {
  font-family: 'Cairo';
}

.dropdown-menu-center {
  left: 40% !important;
  right: auto !important;
  transform: translate(-50%, 0) !important;
}
.form-row .form-control:focus {
  border-color: #000;
  -webkit-box-shadow: 3px 3px 16px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 16px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 16px -1px rgba(0, 0, 0, 0.25);
} 