<div class="container">
  <h1 class="text-right w-100 mb-2 bg-light p-2">تسجيل الدخول</h1>
  <form class="shadow-sm p-4 mt-2" [formGroup]="loginForm">
    <div class="form-row justify-content-end">
      <div class="col-md-6 mb-3">
        <label class="float-right">اسم المستخدم</label>
        <input type="text" class="form-control" formControlName="username"
          [ngClass]="{'is-invalid': loginForm.get('username').invalid && loginForm.get('username').touched}">
        <div class="invalid-feedback text-right"> مطلوب اسم المستخدم</div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div class="col-md-6 mb-3">
        <label class="float-right">رمز الدخول</label>
        <input type="password" class="form-control" formControlName="password"
          [ngClass]="{'is-invalid': loginForm.get('password').invalid && loginForm.get('password').touched}">
        <div class="invalid-feedback text-right">مطلوب رمز الدخول</div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div class="col-md-6">
        <div class="d-flex">
          <div *ngIf="loading" class="loader mr-2"></div>
          <button class="btn btn-outline-secondary mb-0" (click)="onSubmit()"
            [disabled]="loginForm.invalid || loading">اضافة</button>
        </div>
      </div>
    </div>
  </form>
</div>