<div class="container">
  <h1 class="text-right p-2 bg-light"><span
      class="material-icons-outlined inline-block align-bottom mr-2">fact_check</span>مواصفات المنتج</h1>
  <div class="row shadow-sm mx-0 px-0 py-3">
    <div class="col-md-6">
      <img class="img-fluid" src="{{product.imageURL}}">
    </div>
    <div class="col-md-6">
      <h5 class="text-right my-3" dir="rtl">{{product.type}}</h5>
      <ul class="text-right bar px-2" dir="rtl" *ngFor="let desc of product.description">
        <li>{{desc.desc}}</li>
      </ul>
      <div class="d-flex justify-content-between">
        <div>
          <button *ngIf="!cartToggle[product._id]" class="btn btn-success" (click)="onAddClick()"><span
              class="material-icons-outlined d-inline-block align-bottom" id="cart-icon">add_shopping_cart</span> اضف
            للعربة</button>
          <button *ngIf="cartToggle[product._id]" class="btn btn-danger" (click)="onRemoveClick()"><span
              class="material-icons-outlined d-inline-block align-bottom" id="cart-icon">remove_shopping_cart</span>
            ازالة من العربة</button>
        </div>
        <h2 class="bg-price text-right mt-2">{{product.client_price | number}} IQ</h2>
      </div>
    </div>
  </div>
</div>