.price-bg {
  color: red;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
}

.card-title {
  font-family: "Almarai", sans-serif;
  color: #444444;
  font-size: 1.4rem;
}

.card a {
  position: absolute;
  bottom: 23%;
  right: 3%;
  border-radius: 50%;
  color: red;
  padding: 1%;
  border: 1px solid rgba(252, 0, 0, 0.2);
}

.card a:hover {
  cursor: pointer;
}
