h1 {
  font-family: "Almarai";
  font-weight: 700;
  font-size: 2rem;
  color: #423f42;
}
a {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-decoration-line: none;
  color: black;
}
.btn-outline-secondary{
  color: #000;
  font-family: 'Cairo';
}
label {
  font-family: "Cairo";
}
.img-select {
  font-size: 2.5rem;
  margin-top: 0.75rem;
}

h5 {
  width: 100%;
  margin-top: 0.25rem;
  margin-right: 2.2rem;
  font-size: 80%;
  color: #dc3545;
}

.form-control:focus {
  border-color: #000;
  -webkit-box-shadow: 3px 3px 16px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 3px 16px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 16px -1px rgba(0, 0, 0, 0.25);
}
input {
  direction: rtl;
}

.loader {
  border: 0.25rem solid #dae0e5;
  border-radius: 50%;
  border-top: 0.25rem solid #777;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}