<div class="container">
  <h1 class="text-right w-100 mb-2 bg-light p-2">اضافة منتج</h1>
  <form dir="rtl" class="shadow-sm p-4 mt-2">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label class="float-right">نوع المنتج</label>
        <input type="text" class="form-control" formControlName="type">
        <div class="invalid-feedback text-right"> مطلوب نوع المنتج</div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label class="float-right">سعر البيع</label>
        <input type="tel" class="form-control" formControlName="client_price">
        <div class="invalid-feedback text-right"> مطلوب سعر البيع</div>
      </div>
    </div>
    <label class="d-flex text-right"><a class="material-icons inline-block align-bottom ml-2"
        (click)="addDescBtn()"> add </a> الوصف</label>
    <div class="form-row" formArrayName="description">
      <div class="col-md-6 mb-3">
        <div class="d-flex mt-2" *ngFor="let desc of p.controls; let i=index">
          <a class="material-icons ml-2 h-50 mt-1" (click)="removeDescBtn(i)"> remove </a>
          <input type="tel" class="form-control w-75" formControlName="client_price">
        </div>
        <div class="invalid-feedback text-right"> مطلوب تفاصيل المنتج</div>
        <button class="btn btn-outline-secondary mt-3 mb-0">اضافة</button>
      </div>
    </div>
  </form>
</div>