<div class="container">
  <h1 class="text-right w-100 mb-2 bg-light p-2">اضافة بيع جديد</h1>
  <form class="shadow-sm p-4 mt-2" [formGroup]="sellForm">
    <div class="form-row justify-content-end">
      <div class="col-md-6 mb-3">
        <label class="float-right">العدد</label>
        <input type="tel" class="form-control" formControlName="qty"
          [ngClass]="{'is-invalid': sellForm.get('qty').invalid && sellForm.get('qty').touched}">
        <div class="invalid-feedback text-right"> مطلوب العدد</div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div class="col-md-6 mb-3">
        <label class="float-right">سعر البيع</label>
        <input type="tel" class="form-control" formControlName="price"
          [ngClass]="{'is-invalid': sellForm.get('price').invalid && sellForm.get('price').touched}">
        <div class="invalid-feedback text-right"> مطلوب سعر البيع</div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div class="col-md-6 mb-3">
        <label class="text-right w-100">النوع</label>
        <div class="btn-group float-right" dropdown>
          <button dropdownToggle type="button" class="btn btn-outline-secondary bg-light text-left dropdown-toggle">
            {{type}} <span class="caret"></span></button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-center text-right bg-light pre-scrollable" role="menu">
            <li role="menuitem"><a class="dropdown-item" *ngFor="let product of products | async"
                (click)="onTypeClick(product._id); type = product.type">{{product.type}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-row justify-content-end">
      <div class="col-md-6">
        <div class="d-flex">
          <div *ngIf="loading" class="loader mr-2"></div>
          <button class="btn btn-outline-secondary mb-0" (click)="onSubmit()" [disabled]="sellForm.invalid || loading">اضافة</button>
        </div>
      </div>
    </div>
  </form>
</div>