<div class="container">
  <div class="row flex-row-reverse m-1">
    <div class="col-lg-8 px-1">
      <h1 class="text-right mb-2 bg-light p-2"><span class="material-icons-outlined">shopping_cart</span> عربة المشتريات
      </h1>
        <app-wishlist></app-wishlist>
      <h1 class="text-right mt-2 bg-light p-2"><span class="material-icons-outlined">emoji_transportation</span> اطلب
        الان</h1>
      <app-order-form></app-order-form>
    </div>
    <div class="col-lg-4 px-1">
      <h1 class="text-right bg-light p-2"><span class="material-icons-outlined">receipt_long</span> تفاصيل الفاتورة</h1>
      <app-order-bill></app-order-bill>
    </div>
  </div>
</div>
